<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Marionette Carousel Codetest</title>
  <meta name="description" content="Marionette Carousel Codetest">
  <meta name="author" content="hola@albertvazquez.es">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="dist/css/main.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <div id="app">

    </div>

    <script type="text/template" id="carousel-template">
        <h1><%= title %></h1>
        <i class="fa fa-arrow-left" />
        <ul>
            <% _.each(images, function(image){ %>
                <li><img src="<%= image %>" /></li>
            <% }); %>
        </ul>
        <i class="fa fa-arrow-right" />
    </script>

    <script src="node_modules/underscore/underscore.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/backbone/backbone.js"></script>
    <script src="node_modules/backbone.babysitter/lib/backbone.babysitter.js"></script>
    <script src="node_modules/backbone.wreqr/lib/backbone.wreqr.js"></script>
    <script src="node_modules/backbone.marionette/lib/backbone.marionette.js"></script>

    <script src="app/app.js"></script>
    <script src="app/models/carousel.model.js"></script>
    <script src="app/collections/mainSection.collection.js"></script>
    <script src="app/views/mainSection.view.js"></script>
    <script src="app/views/carousel.view.js"></script>
    <script src="app/initializer.js"></script>
</body>
</html>
